/bin
/findbugs-2.0.2
/backups
/General Mafia Info.txt
/jd-gui.cfg
/jd-gui.exe
/MafiaBot--100338592.cache
/MafiaBot-1542209381.cache
/misc code.txt
/MissMarple.jar
/Mig Layout White Paper.htm
/MigLayoutCheatsheet.pdf
/MigLayoutQuickStart.pdf
